# Git
.git
.gitignore

# Ambiente virtual
venv/
env/
.env

# Arquivos de cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage
htmlcov/

# Frontend
frontend/chuvas-alagamentos-app/node_modules
frontend/chuvas-alagamentos-app/build

# Dados
*.csv
*.xlsx
*.db

# Outros
.DS_Store
.idea/
.vscode/ 